html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primari-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --text-white: #ffffff;
  --text-black: #000000;
  --business-color: #2f303a;
  --hover-color: #188ce8;
  --footer-link-text: #ffffff99;
  --background-color-our-teams: #f5f4fa;
  --page-header-color: #ececec;
  --project-item-color: #eeeeee;
  --footer-client-color: #afb1b8;
}

body {
  background-color: var(--text-white);
  color: var(--primari-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  display: inline-block;
  color: var(--text-black);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo .logo-blue {
  color: var(--accent-color);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.page-header {
  background-color: var(--text-white);
  border-bottom: 1px solid var(--page-header-color);
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container-top-line {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.menu-nav {
  display: flex;
  margin-left: 93px;
}

.menu-nav .menu-nav-item:not(:last-child) {
  margin-right: 50px;
}

.menu-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primari-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--accent-color);
}

.menu-nav .link.current {
  color: var(--accent-color);
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact .contact-item + .contact-item {
  margin-left: 50px;
}

.contact .link {
  display: flex;
  align-items: center;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.business {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  color: var(--text-white);
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.1)),
    url(../images/img-17.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /*background-color: var(--business-color);*/
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero-title {
  margin: 0 auto 30px;
  width: 696px;

  color: var(--text-white);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}

.peculiarities {
  padding-bottom: 94px;
  padding-top: 94px;
}

.peculiarities-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-basis: calc((100% - 90px) / 4);
}

.features-list-item {
  width: 270px;
  align-items: flex-start;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-list .pos-icon {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background: var(--background-color-our-teams);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--primari-text-color);
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list .title-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);
}

.our-work {
  padding-bottom: 94px;
}

.box {
  display: flex;
}

.box-item {
  margin: 0;
  width: 370px;
  height: 294px;
}

.box-item:not(:last-child) {
  margin-right: 30px;
}

.our-work-title {
  margin-top: 0;
  margin-bottom: 50px;
  min-width: 366px;

  color: var(--primari-text-color);
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.our-teams {
  background-color: var(--background-color-our-teams);
  padding-bottom: 94px;
}

.our-teams-title {
  margin-top: 0;
  margin-bottom: 50px;
  min-width: 264px;
  padding-top: 94px;
  color: var(--primari-text-color);
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.teams {
  display: flex;
  flex-basis: calc((100% - 90px) / 4);
  justify-content: space-between;
}

.team-icon-list {
  display: flex;
  justify-content: center;
}

.team-list-icon {
  margin-right: 10px;
}

.team-list-icon:last-child {
  margin: 0;
}

.team-icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--footer-client-color);
}

.team .teams-item:not(:last-child) {
  margin-right: 30px;
}

.teams-item-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-icon-svg {
  fill: currentColor;
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--accent-color);
  color: var(--text-white);
}

.teams-item {
  width: 270px;
  height: 428px;
  background-color: var(--text-white);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.teams-item .blok {
  display: block;
}

.teams .title {
  margin: 0 0 10px 0;

  color: var(--primari-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.teams .text {
  margin: 0;
  margin-bottom: 16px;

  color: var(--title-text-color);
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.btn-primary {
  padding: 10px 32px;
  min-width: 216px;
  border: none;
  margin: 0 auto;

  background-color: var(--accent-color);
  color: var(--text-white);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--hover-color);
}

.footer .text-footer {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--text-white);
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address {
  font-style: normal;
}

.footer .link {
  font-style: normal;
  color: var(--footer-link-text);
  text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.text-footer:hover,
.text-footer:focus {
  color: var(--accent-color);
}

.footer .logo {
  margin-bottom: 28px;
  color: var(--text-white);
}

.our-projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer-item:not(:last-child) {
  margin-bottom: 12px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter :not(:last-child) {
  margin-right: 8px;
}

.filter .btn {
  padding: 6px 22px;
  background: var(--background-color-our-teams);

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.filter .btn:hover,
.filter .btn:focus,
.filter .btn:active {
  color: var(--text-white);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.projects .title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.projects .title-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.projects > .project-item {
  flex-basis: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;
}

.projects .link:hover,
.projects .link:focus {
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
}

.project-item .link {
  display: block;
  text-decoration: none;
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-item .title {
  margin: 0 0 4px 0;

  color: var(--primari-text-color);
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.project-item-description {
  padding: 20px 24px;

  background: var(--text-white);
  border-bottom: 1px solid var(--project-item-color);
  border-left: 1px solid var(--project-item-color);
  border-right: 1px solid var(--project-item-color);
}

.project-item .title-text {
  margin: 0;

  color: var(--title-text-color);
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}
/*HW3 start*/
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--business-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primery-text-color);
}
.customers-list {
  display: flex;
  justify-content: center;
}

.item-icon {
  margin-right: 30px;
}

.item-icon:last-child {
  margin: 0;
}

.link-group {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: var(--footer-client-color);
}

.icon-group {
  fill: currentColor;
}

.link-group:focus,
.link-group:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-icon {
  margin-left: 70px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-white);
}

.icon-list {
  display: flex;
  margin-right: 10px;
}

.list-icon {
  margin-right: 10px;
}

.list-icon:last-child {
  margin: 0;
}

.icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
}

.icon-svg {
  fill: var(--text-white);
}

.logo:focus,
.logo:hover {
  color: var(--accent-color);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);
}
/*finish*/ ;
